* {
    box-sizing: border-box;
}

body {
    background-color: rgba(21, 119, 211, 0.884);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background 0.5s ease-in-out;
}

header {
    position: absolute;
    top: 10px;
    left: 20px;
}

.logo {
    width: 250px;
    left: 1000px;
    top: -5px;
    position: relative;
}

.yellow-theme {
    background-color: yellow !important;
}

form {
    width: 100%;
    text-align: center;

}

input {
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px;

}

.enviar {
    border-radius: 40px;
    text-align: center;
    background-color: yellow;
    width: 200px;
    height: 45px;
    margin-top: 5px;

}

.enviar:hover {
    /* ✅ Também funciona */
    background-color: rgba(21, 119, 211, 0.884);
}

.quadrado {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.212);
    width: 1200px;
    height: 500px;
    padding: 20px;
    flex-direction: row-reverse;
}

.image-container {
    position: relative;
    width: 600px;
    height: 600px;
}

.invincible,
.invincible-alt {
    position: absolute;
    width: 350px;
    height: auto;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease-in-out;
}

.invincible-alt {
    opacity: 0;
    width: 765px;
    margin-left: -250px;
}

.yellow-theme .invincible {
    opacity: 0;
}

.yellow-theme .invincible-alt {
    opacity: 1;
}

.invincible {
    width: 70%;
    margin-left: -00px;
}

/* RESPONSIVIDADE */
/* RESPONSIVIDADE */
/* RESPONSIVIDADE */
@media (max-width: 1200px) {
    body {
        height: auto;
        min-height: 100vh;
        padding: 30px 0;
    }

    .quadrado {
        width: 90%;
        height: auto;
        padding: 25px;
        margin-top: -350px;
    }

    .logo {
        width: 200px;
        margin-left: 0;
        position: static;
        margin-bottom: 400px;
        margin-top: -150px;
    }

    header {
        position: relative;
        top: auto;
        left: auto;
        text-align: center;
        margin-bottom: 30px;
    }

    .image-container {
        width: 100%;
        height: 350px;
        margin-top: 30px;
    }

    .invincible {
        width: 40%;
        max-width: 400px;
        margin-top: auto;
        left: 235px;
    }

    .invincible-alt {
        width: 90%;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 1024px) {
    .invincible {
        width: 28%;
        left: 350px;
        top: -30px;
    }

    .invincible-alt {
        width: 50%;
        top: -30px;
    }

    .logo {
        margin-bottom: 340px;
        margin-top: -25px;
    }

    .quadrado {
        flex-direction: column;

    }

}

@media (max-width: 768px) {
    body {
        height: auto;
        min-height: 100vh;
        padding: 25px 0;
        justify-content: flex-start;
    }

    .quadrado {
        width: 95%;
        margin-top: -300px;
        padding: 20px;
    }

    .logo {
        width: 190px;
        margin-bottom: 300px;

    }

    .image-container {
        height: 300px;
        margin-top: 25px;
    }

    .invincible {
        width: 33%;
        top: -4px;
        left: 37%;
    }

    .invincible-alt {
        width: 60%;
        top: -10px;
    }
}


@media (max-width: 480px) {
    body {
        min-height: 100vh;
        height: auto;
        padding: 20px;
        justify-content: flex-start;
    }

    .quadrado {
        width: 100%;
        margin-top: -170px;
        padding: 15px;
    }

    .logo {
        width: 180px;
        margin-bottom: 180px;
        margin-top: 5px;
    }

    input {
        width: 100%;
        height: 40px;
        font-size: 16px;
        margin: 12px auto;
    }

    .invincible {
        width: 47%;
        top: 10px;
        left: 110px;
        transform: translateX(0);
    }

    .invincible-alt {
        width: 90%;
        top: 5px;
        left: 20px;
        transform: translateX(0);
    }
}