* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color: black;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
}

nav {
    display: flex
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.logo {
    color: rgb(255, 221, 0);
    font-size: 24px;
    font-weight: bold;
}


nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

nav a:hover {
    color: rgb(255, 221, 0);
}


.seila {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(21, 119, 211, 0.884);
    color: white;
    padding: 20px;
}

.seila h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.seila p {
    font-size: 20px;
    margin-bottom: 20px;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
}